<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dialogs</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>

</head>
<body>


<div style="text-align: center;">
    <table class="table_block">
        <thead>
        <tr>
            <th valign="middle" colspan="3" class="table_header">
                <div class="title">All dialogs for user</div>
            </th>
        </tr>
        </thead>
        <tbody th:each="lastMessage, iStat : ${lastMessages}" class="dialogs_big_cell">
        <td th:text="${lastMessage.user.nickname}" class="photo_table"></td>
        <td>
            <form id="add-form-2" th:action="@{/user/chat/__${lastMessage.ownerId}__/__${lastMessage.user.userID}__}" th:method="get">
                <div class="row">
                    <button id="" type="submit" th:text="${lastMessage.message}" class="message_cell"></button>
                </div>
            </form>
        </td>
        </tbody>
    </table>
</div>
<button type="button" th:onclick="smthDo()">Show Alert</button>


</body>
</html>