<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/static/favicon/site.webmanifest}">
    <link th:href="@{/css/register.css}" rel="stylesheet"/>
    <link th:href="@{/js/actions.js}" rel="text/javascript"/>
    <script type="text/javascript">
        var check = function (qualifiedName) {
            if (document.getElementById('password').value === " ") {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Empty';
                document.getElementById("submit").setAttribute("disabled", "disabled");
            } else if (document.getElementById('password').value === "") {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Empty';
                document.getElementById("submit").setAttribute("disabled", "disabled");
            } else if (document.getElementById('password').value ===
                document.getElementById('confirm_password').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Matching';
                document.getElementById("submit").removeAttribute("disabled");
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Not matching';
                document.getElementById("submit").setAttribute("disabled", "disabled");
            }
        }
        function validateComments(input) {
            if (input.value.length < 6) {
                input.setCustomValidity("Пароль должен быть не менее 6 символов");
            }
            else {
                input.setCustomValidity("");
            }
        }
        function validate(){
            var form = document.getElementById("emailForm");
            var email = document.getElementById("email").value;
            var pattern = /^([a-zA-Z0-9][a-zA-Z0-9.\-_]{0,20}[a-zA-Z0-9])@([a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9]\.)+(ru|com|net|org|edu)$/
            if(email.match(pattern))
            {
                form.classList.add("valid");
                form.classList.remove("invalid");
                document.getElementById("submit").removeAttribute("disabled");
            }
            else{
                form.classList.remove("valid");
                form.classList.add("invalid");
                document.getElementById("submit").setAttribute("disabled", "disabled");
            }
            if (email === "") {
                form.classList.remove("valid");
                form.classList.remove("invalid");
                document.getElementById("submit").setAttribute("disabled", "disabled");
            }
        }

        function validatePass(){
            var form = document.getElementById("passForm");
            var password = document.getElementById("password").value;
            var pattern = /(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[a-zа-я])(?=.*[A-ZА-Я])[0-9а-яА-Яa-zA-Z!@#$%^&*]{6,}/g
            if(password.match(pattern))
            {
                form.classList.add("valid");
                form.classList.remove("invalid");
                document.getElementById("submit").removeAttribute("disabled");
            }
            else{
                form.classList.remove("valid");
                form.classList.add("invalid");
                document.getElementById("submit").setAttribute("disabled", "disabled");
            }
            if (password === "") {
                form.classList.remove("valid");
                form.classList.remove("invalid");
                document.getElementById("submit").setAttribute("disabled", "disabled");
            }
        }
    </script>
</head>
<body style="background: #8EACB4;">
<form th:action="@{/new/user}" th:method="post">
    <div class="form">
        <div class="title">Welcome</div>
        <div class="subtitle" style="color: red">This nickname is busy</div>
        <div class="input-container ic1">
            <input id="firstname" class="input" type="text" placeholder=" " required th:name="firstName" th:value="${firstName}"/>
            <div class="cut"></div>
            <label for="firstname" class="placeholder">First name</label>
        </div>
        <div class="input-container ic2">
            <input id="lastname" class="input" type="text" placeholder=" " th:name="lastName" th:value="${lastName}"/>
            <div class="cut"></div>
            <label for="lastname" class="placeholder">Last name</label>
        </div>
        <div class="input-container ic2">
            <input id="nickname" class="input" type="text" placeholder=" " required th:name="nickname" th:value="${nickname}" autofocus/>
            <div class="cut"></div>
            <label for="nickname" class="placeholder">Nickname</label>
        </div>
        <div class="input-container ic2" id="emailForm">
            <input id="email" class="input" type="text" placeholder=" " th:name="email" oninput="validate()" th:value="${email}"/>
            <div class="cut cut-short"></div>
            <label for="email" class="placeholder">Email</label>
            <span class="indicator"></span>
        </div>
        <div class="input-container ic2" id="passForm">
            <input name="password" id="password" class="input" type="password" placeholder=" " pattern="^\S{6,}$"
                   onkeyup='check();' required th:name="password" oninput="validatePass()"/>
            <div class="cut cut-short"></div>
            <label for="password" class="placeholder">Password</label>
            <span class="indicator"></span>
        </div>
        <div class="input-container ic2">
            <input id="confirm_password" class="input" name="confirm_password" type="password"
                   placeholder=" " required onkeyup='check();'/>
            <div style="height: 5px;"></div>
            <span id='message' style="margin-left: 30px;"></span>
            <div class="cut cut-short"></div>
            <label for="confirm_password" class="placeholder">Confirm password</label>
        </div>
        <input id="submit" type="submit" style="width: 0" hidden/>
        <label for="submit" class="button">Submit</label>
    </div>
</form>
</body>
</html>
