<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/static/favicon/site.webmanifest}">
    <link th:href="@{/css/error.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/error.js}"></script>
</head>
<body style="background: #8EACB4;">

<div class="container">
    <div class="sign">
        <div class="neon-blue" id="title" style="margin-top: 40px">Exc<span id="fade">ep</span>tion</div>
        <div class="neon-blue" th:text="'\'\'' + ${error} + '\'\''"><br>
            <span class="neon-purple" id="trav">Enter</span>
            <span class="neon-elov">Show</span></div>
    </div>
</div>

<a th:href="@{/user/info}" target="_blank" class="button">На главную</a>
=========
<a th:href="@{/auth/login}" target="_blank" class="button">На главную</a>
>>>>>>>>> Temporary merge branch 2
</body>
</html>