<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/static/favicon/site.webmanifest}">
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body style="background: #8EACB4;">
<div class="form">
    <form method="post" action="/auth/login">
        <div class="title">Login</div>

        <div class="input-container ic1">

            <input type="text" id="username" name="username" class="input" placeholder="Username" required>
            <div class="cut"></div>
            <label for="username" class="placeholder">Username</label>
        </div>
        <div class="input-container ic2">
            <input type="password" id="password" name="password" class="input" placeholder="Password" required>
            <div class="cut"></div>
            <label for="password" class="placeholder">Password</label>
        </div>
        <button class="button" type="submit">Sign in</button>
    </form>
    <form th:action="@{/registration}" th:method="get">
        <button type="submit" id="signup"
                class="button">Sign up
        </button>
    </form>
</div>
</body>
</html>