<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dialogs</title>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/static/favicon/site.webmanifest}">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>

</head>
<body style="background: #8EACB4;">

<table style="width: 100%;">
    <tr>
        <td style="width: 100%; display: flex; margin-top: 10%;">
            <table style="width: 60%; margin-right: 10px; margin-left: 40%; background: linear-gradient(45deg, darkgrey, #33383A); border-radius: 10px;"
                   class="br">
                <tbody>
                <tr>
                    <td>
                        <button type="submit" id="home" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/user/info/4}'|">Home
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="book_search" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/book/search}'|">Find books
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="user_search" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/user_search}'|">Find users
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="friends" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/do-stuff/__${book.bookID}__/5}'|">Friends
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="dialogs" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/user/dialogs/4}'|">Dialogs
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="favourites" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/favorites/4}'|">Favourites
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="recommendations" name="rating" value="1"
                                class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/recs/4}'|">Recommendations
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form th:action="@{/auth/logout}" th:method="post">
                            <button type="submit" id="logout"
                                    class="last_main_console neon-purple">Logout
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td style="width: 50%; margin-top: 0;">
            <div style="text-align: center; margin-top: 5%;">
                <table class="table_block bl" style="margin-top: 5%;">

                    <thead>
                    <tr>
                        <th valign="middle" colspan="1" class="table_head">
                            <div class="title">All dialogs for user</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <td class="my_text">
                        <div>
                            No dialogs. Start chatting!
                        </div>
                    </td>
                    </tbody>
                </table>
            </div>
        </td>
        <td style="width: 25%;"></td>
    </tr>
</table>


</body>
</html>