<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>

<body>

<div class="scroll-table">

    <div style="text-align: center;">
        <table class="table_block">
            <thead>
            <tr>
                <th valign="middle" colspan="3" class="table_header">
                    <div class="title">Chat</div>
                </th>
            </tr>
            </thead>
            <div class="scroll-table-body">
                <tbody th:each="message, iStat : ${ownerDialog.messages}">
                <td th:text="( (${ownerDialog.ownerId} != ${message.from})? ${message.from} : '')"
                    th:class="((${ownerDialog.ownerId} != ${message.from}))? 'user_icon_to' : 'user_icon_to_no'"></td>
                <td th:text="${message.message}"
                    th:class="'messageFromOwner' + (${ownerDialog.ownerId} == ${message.from})"></td>
                <td th:text="( (${ownerDialog.ownerId} == ${message.from})? ${message.from} : '')"
                    th:class="((${ownerDialog.ownerId} == ${message.from}))? 'user_icon_from' : 'user_icon_from_no'"></td>
                </tbody>
            </div>
            <tr>
                <td class="write_message" colspan="3">
                    <form id="add-form-3" th:action="@{/user/dialogs}" th:method="get">
                        <div>
                            <label>
                                <input type="text" th:name="message" th:placeholder="message"/>
                            </label>
                        </div>
                        <div class="row">
                            <button id="" type="submit" th:text="smth" class="message_cell"></button>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>