<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/static/favicon/site.webmanifest}">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/js/actions.js}" rel="text/javascript"/>
    <script type="text/javascript">
        function winLoad() {
            window.scrollTo(0, document.body.scrollHeight);
        }
    </script>
    <!--    <script type="text/javascript" th:src="https://zengabor.github.io/zenscroll/zenscroll.js"></script>-->

</head>

<body th:onload="winLoad()" style="background: #8EACB4;">

<table style="width: 100%">
    <tr>
        <td style="width: 100%; display: flex; margin-top: 10%;">
            <table style="width: 60%; margin-right: 10px; margin-left: 40%; background: linear-gradient(45deg, darkgrey, #33383A); border-radius: 10px;"
                   class="br">
                <tbody>
                <tr>
                    <td>
                        <button type="submit" id="home" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/user/info}'|">Home
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="book_search" name="rating" value="1"
                                class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/book/search}'|">Find books
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="user_search" name="rating" value="1"
                                class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/user_search}'|">Find users
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="friends" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/do-stuff/__${book.bookID}__/5}'|">Friends
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="dialogs" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/user/dialogs}'|">Dialogs
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="favourites" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/favorites}'|">Favourites
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="recommendations" name="rating" value="1"
                                class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/recs}'|">Recommendations
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="logout" name="rating" value="1"
                                class="last_main_console neon-purple"
                                th:onclick="|window.location.href='@{/do-stuff/__${book.bookID}__/5}'|">Logout
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>

        <td style="width: 50%;">
            <div style="text-align: center; margin-top: 5%;">
                <table class="table_block bl" id="scroll">
                    <thead>
                    <tr>
                        <th valign="middle" colspan="3" class="table_header">
                            <div class="title">Chat</div>
                        </th>
                    </tr>
                    </thead>
                    <td class="row"></td>
                    <tbody th:each="message, iStat : ${ownerDialog.messages}">
                    <td th:text="( (${ownerDialog.ownerId} != ${message.from})? ${ownerDialog.partnerNick} : '')"
                        th:class="((${ownerDialog.ownerId} != ${message.from}))? 'user_icon_to' : 'user_icon_to_no'" width="75"
                        height="75"></td>
                    <td th:text="${message.message}"
                        th:class="'messageFromOwner' + (${ownerDialog.ownerId} == ${message.from})" class="my_text"></td>
                    <td th:text="( (${ownerDialog.ownerId} == ${message.from})? ${ownerDialog.ownerNick} : '')"
                        th:class="((${ownerDialog.ownerId} == ${message.from}))? 'user_icon_from' : 'user_icon_from_no'" width="75"
                        height="75"></td>
                    </tbody>
                    <tr th:height="25"></tr>
                    <tr>
                        <form id="add-form-3"
                              th:action="@{/user/chat/__${ownerDialog.partnerId}__/write}"
                              th:method="post">
                            <td colspan="2">
                                <div>
                                    <label>
                                        <input type="text" th:name="message" th:placeholder="message"
                                               class="write_message_text"/>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <button id="" type="submit" float-right class="button_message_text">
                                    <img th:src="@{/img/apple-touch-icon.png}" alt="Отправить сообщение" width="50"
                                         height="50">
                                </button>
                            </td>
                        </form>

                    </tr>
                </table>
            </div>
        </td>
        <td style="width: 25%;"></td>
    </tr>
</table>

</body>
</html>