<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/static/favicon/site.webmanifest}">
    <link th:href="@{/css/userSearch.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>


<div style="text-align: center;">
    <table class="table_block">
        <thead>
        <tr>
            <th valign="middle" colspan="3" class="table_header">
                <div class="title">Find user</div>
            </th>
        </tr>
        </thead>
        <td class="row">
            <form id="add-form-2" th:action="@{/user_search}" th:method="get">
                <div class="row">
                    <input type="text" th:name="search"  th:placeholder="найти"/>
                </div>
                <div class="row">
                    <button id="" type="submit">Найти</button>
                </div>
            </form>
        </td>
    </table>
    <table class="table_block">
        <tbody>
        <tr>
            <td>№</td>
            <td>First name</td>
            <td>Last name</td>
            <td>Nickname</td>
            <td>Link</td>
        </tr>
        </tbody>
        <tbody th:each="user, iStat : ${users}">
        <tr th:style="${iStat.odd}? 'font-weight: bold;'">
            <td th:text="${iStat.index}+1"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.nickname}"></td>
            <td>
                <a href="http://localhost:8080/user/info">перейти</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>