<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/static/favicon/site.webmanifest}">
    <link th:href="@{/css/user.css}" rel="stylesheet"/>
    <link th:href="@{/js/actions.js}" rel="text/javascript"/>
</head>
<body style="background: #8EACB4;">

<table style="width: 100%">
    <tr>
        <td style="width: 100%; display: flex; margin-top: 10%;">
            <table style="width: 60%; margin-right: 10px; margin-left: 40%; background: linear-gradient(45deg, darkgrey, #33383A);border-radius: 10px;"
                   class="br">
                <tbody>
                <tr>
                    <td>
                        <button type="submit" id="home" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/user/info/4}'|">Home
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="book_search" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/book/search}'|">Find books
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="user_search" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/user_search}'|">Find users
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="friends" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/do-stuff/__${book.bookID}__/5}'|">Friends
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="dialogs" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/user/dialogs/4}'|">Dialogs
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="favourites" name="rating" value="1" class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/favorites/4}'|">Favourites
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="recommendations" name="rating" value="1"
                                class="main_console neon-blue"
                                th:onclick="|window.location.href='@{/recs/4}'|">Recommendations
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" id="logout" name="rating" value="1" class="last_main_console neon-purple"
                                th:onclick="|window.location.href='@{/do-stuff/__${book.bookID}__/5}'|">Logout
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td style="width: 50%;">
            <div style="text-align: center; margin-top: 5%;">
                <table class="table_block bl">
                    <thead>
                    <tr>
                        <th valign="middle" colspan="2" class="table_head">
                            <div class="title">User information</div>
                        </th>
                    </tr>
                    </thead>
                    <tr style="height: 10px"></tr>
                    <tbody class="my_text">
                    <tr>
                        <td rowspan="6">
                            <img th:src="${user.imageLink}" alt="User image" class="book_photo" width="360"
                                 height="420">
                        </td>
                        <td>
                            <div class="description my_text">

                                <div></div>
                                <div style="display: inline-block; font-weight: bold;">Ник:</div>
                                <div th:text="${user.nickname}" style="display: inline-block;"></div>

                                <div></div>
                                <div style="display: inline-block; font-weight: bold;">Имя:</div>
                                <div th:text="${user.firstName}" style="display: inline-block;"></div>

                                <div></div>
                                <div style="display: inline-block; font-weight: bold;">Фамилия:</div>
                                <div th:text="${user.lastName}" style="display: inline-block;"></div>

                                <div></div>
                                <div style="display: inline-block; font-weight: bold;">Дата рождения:</div>
                                <div th:text="${user.birthDate}" style="display: inline-block;"></div>

                                <div></div>
                                <div style="display: inline-block; font-weight: bold;">Электронная почта:</div>
                                <div th:text="${user.email}" style="display: inline-block;"></div>

                                <div></div>
                                <div style="display: inline-block; font-weight: bold;">Рекомендации:</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
        <td style="width: 25%;"></td>
    </tr>
</table>
</body>
</html>