<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/static/favicon/site.webmanifest}">
    <link th:href="@{/css/user.css}" rel="stylesheet"/>
    <link th:href="@{/js/actions.js}" rel="text/javascript"/>
</head>
<body>
<div style="text-align: center;">
    <table class="table_all_data">
        <thead>
        <tr>
            <th valign="middle" colspan="2" class="table_head">
                <div class="title">User information</div>
            </th>
        </tr>
        </thead>
        <tr style="height: 10px"></tr>
        <tbody>
        <tr>
            <td rowspan="3">
                <img th:src="${user.imageLink}" alt="book image" class="book_photo" width="360" height="420">
            </td>
            <td>
                <div class="description">

                    <div></div>
                    <div style="display: inline-block; font-weight: bold;">Nickname:</div>
                    <div th:text="${user.nickname}" style="display: inline-block;"></div>
                    <br> <br>
                    <div></div>
                    <div style="display: inline-block; font-weight: bold;">First name:</div>
                    <div th:text="${user.firstName}" style="display: inline-block;"></div>
                    <br> <br>
                    <div></div>
                    <div style="display: inline-block; font-weight: bold;">Last name:</div>
                    <div th:text="${user.lastName}" style="display: inline-block;"></div>
                    <br> <br>
                    <div></div>
                    <div style="display: inline-block; font-weight: bold;">Birthdate:</div>
                    <div th:text="${user.birthDate}" style="display: inline-block;"></div>
                    <br> <br>
                    <div></div>
                    <div style="display: inline-block; font-weight: bold;">Email:</div>
                    <div th:text="${user.email}" style="display: inline-block;"></div>

                </div>
            </td>
        </tr>

        <tr>
            <td>
                <form id="add-form-2" th:action="@{/user/info/addFriends/__${user.userID}__/__${friends}__}"
                      th:method="post">
                    <div class="row">
                        <button id="" type="submit" th:text="${friends}" class="click_me"></button>
                    </div>
                </form>
            </td>
        </tbody>
        <th colspan="2" style="border-bottom: 2px solid #6678b1;"></th>
        <tr th:height="10"></tr>
        <th colspan="3" class="annotation">
            <div style="font-weight: bold; color: black;">Recommendation</div>
        </th>
        </tr>
    </table>
    <table class="table_all_data" th:if="${favourites.size() - 1}">
        <tr>
            <td>
                <button id="1" type="submit" float-right class="button_message_text" style="background: none; border: none;"
                        th:onclick="|window.location.href='@{/book/info/__${favourites.get(favourites.size() - 1).getBook().bookID}__}'|">
                    <img th:src="${favourites.get(favourites.size() - 1).getBook().imageLink}" alt="book image" class="book_photo"
                         width="360" height="420"></button>
            </td>
            <td>
                <button id="2" type="submit" float-right class="button_message_text" style="background: none; border: none;"
                        th:onclick="|window.location.href='@{/book/info/__${favourites.get(favourites.size() - 2).getBook().bookID}__}'|">
                    <img th:src="${favourites.get(favourites.size() - 2).getBook().imageLink}" alt="book image" class="book_photo"
                         width="360" height="420"></button>
            </td>
        </tr>
    </table>
    <table class="table_all_data" th:if="${favourites.size() == 1}">
        <tr>
            <td>
                <button id="3" type="submit" float-right class="button_message_text" style="background: none; border: none;"
                        th:onclick="|window.location.href='@{/book/info/__${favourites.get(0).getBook().bookID}__}'|">
                    <img th:src="${favourites.get(0).getBook().imageLink}" alt="book image" class="book_photo"
                         width="360" height="420"></button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>