.title {
    font-weight: normal;
    /*padding: 10px 8px;*/
    /*height: 67px;*/
    /*vertical-align: top;*/
    font-family: 'Bradley Hand', sans-serif bold;
    font-size: 45px;
    color: darkgray;
    margin-top: 2%;
    margin-bottom: 2%;
    font-stretch: expanded;
    font-style: initial;
    /*border-bottom: 2px solid #6678b1;*/
}

.table_all_data {
    font-family: 'Bradley Hand', sans-serif bold;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    width: 50%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border: 1px solid grey;
    background: linear-gradient(45deg, whitesmoke, #C5DDE8);
}

.table_header {
    height: 30px;
    vertical-align: top;
}
th {
    font-weight: normal;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

.annotation {
    border-bottom: 0 solid #6678b1;
}

.click_me {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: #000;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}
.click_me:active {
    top: 1px;
    box-shadow: none;
}
.click_me:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}
