.title {
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 0px #38eeff, 0 0 0px #38eeff;
    font-family: 'Bradley Hand', sans-serif bold;
    font-size: 50px;
    color: #ebffff;
    margin-top: 5%;
    margin-bottom: 2%;
    font-stretch: expanded;
    font-weight: bold;
}

.table_block {
    font-family: 'Bradley Hand', sans-serif bold;
    border-radius: 10px;
    width: 100%;
    border: none;
    margin-left: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    /*border: 1px solid grey;*/
    background: linear-gradient(45deg, darkgrey, #33383A);
    box-shadow:0 0 20px #555;
}

th {
    font-weight: normal;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

.annotation {
    border-bottom: 0 solid #6678b1;
}

.click_me {
    position: relative;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    outline: none;
    background-color: #000;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
}
.click_me:active {
    top: 1px;
    box-shadow: none;
}
.click_me:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}
.main_console {
    vertical-align: middle;
    margin-top: 0;
    background: none;
    height: 40px;
    font-family: 'Bradley Hand', sans-serif bold;
    font-size: 20px;
    color: black;
    padding: 9px 8px;
    transition: .3s linear;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
}
.last_main_console {
    margin-top: 0;
    background: none;
    height: 40px;
    font-family: 'Bradley Hand', sans-serif bold;
    font-size: 20px;
    color: black;
    padding: 9px 8px;
    transition: .3s linear;
    outline: none;
    border: none;
    width: 100%;
}
.main_console:hover {
    background: #e8edff;
    transition-duration: .3s;
}
.last_main_console:hover {
    background: #e8edff;
    transition-duration: .3s;
}
.br {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #38eeff;
    box-shadow: 0px 0px 0px 0px #38eeff,inset 0px 0px 0px 0px #38eeff, 0px 0px 20px 4px #38eeff,inset 0px 0px 20px 0px #38eeff;
    position:relative;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.bl {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #38eeff;
    box-shadow: 0px 0px 0px 0px #0e3bbf, inset 0px 0px 0px 0px #38eeff, 0px 0px 20px 4px #38eeff, inset 0px 0px 20px 0px #38eeff;
    position:relative;
    color:white;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.neon-blue {
    margin: 0 auto;
    text-align: center;
    color: #ebffff;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
}
.neon-purple {
    margin: 0 auto;
    text-align: center;
    color: #ebffff;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #ff00de, 0 0 50px #ff00de;
}
